:root{
    --cor-de-fundo: #403d3d;
    --cor-secundaria: #191818;
    --cor-terciaria: #ac759a;
    --cor-quarter: #868f92;
    --cor-de-link: #FF577F;
    --cor-fonte-principal: #FF577F;
    --cor-fonte-secundaria: #000;
    --font-main: 'Raleway', sans-serif;
}

 
 
 
body {
     box-sizing: border-box;
     
     background-color: #191818;
     background-image: url("/assets/backColor.png");
     background-size: 50%;
     color: var(--cor-fonte-principal);
     font-family: var(--font-main);
     margin: 0;
     padding: 0;
     
}
 
ol, ul,li {
     list-style: none;
}
 
a {
     text-decoration: none;
     color: var(--cor-de-link);
}
 
 
 

 
 /*Sessão Menu*/
 
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.625rem;
    font-size: 1.5rem;
     
} 
 
header h3 {
     margin: 0;
}
 
section.menu{
     display: flex;
     height: 8rem;
     justify-content: center;
     position: relative;
    
     
}
 
 /* Underline animação */
nav a {
     display: block;
     position: relative;
     padding: 0.2em 0;
     
 }

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background: var(--cor-fonte-principal);
    opacity: 0;
    transition: opacity 600ms, transform 1000ms;
}

nav a:hover::after,
 nav a:focus::after {
     opacity: 1;
     transform: translate3d(0, 0.2em, 0);
 }

.menu__list {
    display: flex;
    gap: 1.87rem;
    padding: 7%;   
}




 
 /*Sessão home*/
 
 

.menu__title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.img__casa {
    width: 20px; 
    height: auto; 
    margin-right: 10px; 
} 

.title__div{
    padding: 5% 15%; 
    display: flex;
    
     
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 82px;
    
}
 
.title__profile {
     border-radius: 100%;
     width: 40%;
}
 
.title__container {
     width: 70%;
}
 
.title__bio {
     font-family: Raleway;
     font-size: 3.25rem;
     font-weight: 700;
     line-height: 61.05px;
}
 
.title__subsection{
     font-size: 1.4rem;
     color: #ffffff;
}
 
.title__network{
     display: flex;
     gap: 50px;
     font-size: 20px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    color: #ffffff;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__link {
   
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration:none;
    color: #ffffff;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    background-color: #594b4d;
}


/* Animação digitar meu Nome */
#nome-autor::after {
    content: "|";
    animation: piscar 1s infinite;
}

@keyframes piscar {
    0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}
 
 /* Underline animação */
.title__network a {
     display: block;
     position: relative;
     padding: 0.2em 0;
 }


.btn---menu{
    display: none;
}   



 
 /*Sessão Habilidades*/
 
section.about{ 
    height: 50vh;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 82px;
    
}
 
.about__container {
    
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.about__title {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    
}

.about__paragraph {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
 
.titulo-destaque {
    color: #ffffff;
}

.apresentacao__imagem {
    width: 50%;
}
 
 



 /* Meus projetos*/
 
section.experience{
     padding: 20px 5%;
}
 
.experience__section__title {
    
    text-align: center;
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
}
 
.experiencie__box {
    display: flex;
    align-items: center;
    gap: 20px;
    
}
 
.experiencie__box:nth-child(3) {
    flex-direction: row-reverse;
    align-items: center;
}
 
.experiencie__box h4, h3, h2 {
    margin-top: 0;
 }
 
.experience__info{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
     
width: 30%;
}

.experience__logo__linguage {
    display: flex;
    align-items: center;
    gap: 15px;
}

.experience__img {
    width: 35%;
    padding: 10px 10px 10px 0;
    border-radius: 40px;
    box-shadow: 2px 5px 1px -1px #FF577F;
}
 
.experience__repo {
    padding: 0 10px 0 0;
}
 
.experiencia__botao--repo, .experiencia__botao--demo {
    font-family: var(--font-main);
    font-weight: 700;
    width: 96px;
    height: 40px;
    padding: 12px, 16px, 12px, 16px;
    gap: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 3px 2px 5px 3px rgba(0,0,0,0.1);
}
 
.experiencia__botao--repo {
    background: var(--cor-de-fundo);
    color: #ffffff;
}
 
.experiencia__botao--repo:hover {
    background: #594b4d;
}
 
.experiencia__botao--demo {
    background: var(--cor-secundaria);
    color: #ffffff;
}
 
.experiencia__botao--demo:hover {
    background: #594b4d;
 }

.experience__title {
    color: #ffffff;
}
 
 
 
 
 /*footeer*/
 
section.footer{
    text-align: center;
    color: #ffffff;
    padding: 24px;
    text-align: center;
    
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;  

    border-style: solid;
    border-bottom-width: 0;
    border-top-width: 1px;
    border-right-width: 0;
    border-left-width: 0;
    border-color: #ac759a;
    
}
 
 /* <!-- Tablet--> */
 
@media (max-width: 1250px) {
 
      *{
         padding: 0;
     } 
 
     section {
         padding: 0 0.94rem 0;
     } 
 
     
     /*Home*/   
    

    .title__container {
        width: 21rem;
    }
 
     .title__profile {
         width: 45%;
     }
 
     .title__bio {
         font-size: 2.25rem;
     }
 
     .title__div{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         align-items: center;
     }

    /* #btn-menu{
        display: none;
    } */
 
     /*Sessão Habilidades*/
     
     
     section.about {
        height: 80vh;
        flex-direction: column-reverse;
        padding: 10% 10%;
     } 
     .about__container {
         width: 100%;
     }

     .apresentacao__imagem {
        width: 50%;
    }
 
     
     /*Meus Projetos*/
    
     .experience__img {
         width: 40%;
     }
 
     .experiencie__box {
         flex-direction: column;
     }
 
     .experiencie__box:nth-child(3) {
         flex-direction: column;
     }
 
     .experience__info {
         display: flex;
         flex-direction: row;
         align-items: center;
     }
 
     .experience__info {
         flex-direction: column;
         justify-content: center;
         width: 70%;
     }
 
     
 
     /*Footer*/
 
 }
 
@media screen and (max-width: 650px) {

    

    .menu__title {
        font-size: 1rem;
        align-items: center;
    }



     .about__container {
         font-size: 1rem;
     }
    

    /* Menu Hamburhuer */
    #btn-menu{
        display: initial;
        width: 60px;
        height: 50px;
        border: 3px solid #FF577F;
        border-radius: 10px;
        background: transparent;
        cursor: pointer;
        position: absolute;
        right: 8px;
        top: 8px;
    }   

    .linha{
        width: 35px;
        height: 5px;
        background-color: #FF577F;
        display: block;
        margin: 5px auto;
        position: relative;
        transform-origin: center;
        transition: 0.2s;
    }

    #btn-menu.ativar .linha:nth-child(1){
        transform: translateY(10px) rotate(-45deg);
        background-color: #FF577F;
    }

    #btn-menu.ativar .linha:nth-child(3){
        transform: translateY(-10px) rotate(45deg);
        background-color: #FF577F;
    }

    #btn-menu.ativar .linha:nth-child(2){
        width: 0;
    }

    
     
 
    .menu__list {
         display: flex;
         flex-direction: column;
         align-items: center;
         
         gap: 20px;
         padding: 32px 0;
         
         
    } 
    .invisivel{
        display: none;
    }
 
     .title__div {
         flex-direction: column;
         padding: 5%;
     }
 
     .title__profile {
         width: 50%;
     }
 
     .title__container {
         width: 21rem;
     }

     section.about {
        height: 50vh;
        padding: 10% 10%;
     }
 
     
 
         /*Meus Projetos*/
 
     .experiencie__box {
         flex-direction: column;
         margin: 0 2%;
     }
 
     .experience__img {
         width: 90%;
     }
 
     .experiencie__box:nth-child(3) {
         flex-direction: column;
     }
 
     .experience__info {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 90%;
     }

     .formcontato__img {
        display: none;
     }

     .apresentacao__imagem {
        display: none;
    }
 
 }
